.btn {
    font-size: 16px;
    font-weight: bold;
    padding: 18px 41px;
    text-transform: uppercase;
    border-radius: 100px;
    line-height: 1;
    text-decoration: none;
    margin-bottom: 70px;

    &--theme--red {
        background: #E01F3D;
        color: #fff;
        &:hover {
            background: #fff;
            color: #E01F3D;;
        }
    }
}