.hero {
    background: url("../../pictures/hero/beats.png") left 90%  center no-repeat;
    background-color: $grey;
    height: 100vh;
    min-height: 650px;
    min-width: 1100px;
    color: black;
    align-items: center;
    position: relative;

        &:before {
            content: url(../../pictures/hero/grey_element.png);
            position: absolute;
            bottom: -27px;
            right: 29%;
        }
}
.hero__title-section {
    width: 68%;
}
.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-width: 90%;
    padding: 37px 0px 67px;
    align-items: center;
    //background: url("/Project_2/pictures/Ellipse.png") right 36%  top 70% no-repeat;
    //background: url("/Project_2/pictures/Ellipse.png") right center / 50% auto no-repeat;
}
.hero__main-title {
    font-size: 48px;
    line-height: 1.1;
    font-weight: bold;
    margin-bottom: 22px;
    text-transform: uppercase;
}
.hero__title-description {
    font-size: 21px;
    line-height: 25px;
    margin-bottom: 36px;
    padding-right: 45%;
}